<h1>Restaurant List</h1>
<h2>Restaurant Name: <%= @restaurant.name.capitalize %> </h2>
<ul>
  <p> Address :   <%= @restaurant.address %> </p>
  <p> Cuisine :   <%= @restaurant.category.capitalize %> </p>
  <p> Phone No.:  <%= @restaurant.phone_number %> </p>
  <p> Reviews: </p>
  <% @restaurant.reviews.each do |review| %>
    <ul>
      <li> Rating: <%= review.rating %> </li>
      <li> Comments: <%= review.content %> </li>
    </ul>
  <% end %>
</ul>
<h2>Please enter your feedback below:</h2>
<%= simple_form_for [@restaurant, @review] do |f| %>
  <%= f.label :content %>
  <%= f.text_field :content, class: 'form-control' %>
  <%= f.label :rating %>
  <%= f.text_field :rating, class: 'form-control' %>
  <%= f.submit class: 'btn btn-primary' %>
<% end %>